# build output
dist/
.output/

# dependencies
node_modules/

# astro internal cache
.astro/

# environment variables
.env
.env.production

# editor/OS junk
.vscode/
.idea/
.DS_Store
Thumbs.db

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*